/* General */
body {
  margin: 0;
  height: 100vh;
  background-color: #121214;
  color: white;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: #121214;
  padding: 0;
  color: white;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #3a3a3c;
  height: 50px;
}

.menu-help,
.settings-leaderboard {
  height: 100%;
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: flex-start;
}

.menu-help button,
.settings-leaderboard button {
  padding: 5px;
}

.logo img {
  width: 112px;
  height: 32px;
}

/* Game Area */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

.game-wrapper {
  max-width: 500px;
  width: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
}

.game-grid-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  width: 350px;
  height: 420px;
  padding: 10px;
  /* background-color: white; */
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.game-grid .row {
  display: flex;
  justify-content: space-between;

  max-height: 62px;
  height: 100%;
}

.cell {
  max-width: 62px;
  width: 100%;
  height: 100%;
  border: 2px solid #3a3a3c;

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-keyboard {
  height: 190px;
  margin: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-keyboard .row {
  display: flex;
  justify-content: space-between;
}

.game-keyboard .mid {
  padding: 0 22px;
}

.key {
  height: 58px;
  width: 42px;
  font-weight: bold;
  background-color: #818384;
  text-transform: uppercase;
  border-radius: 4px;
}

.big {
  width: 65px;
}
