/* General */
body {
  margin: 0;
  height: 100vh;
  background-color: #121214;
  color: white;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: #121214;
  padding: 0;
  color: white;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #3a3a3c;
  height: 50px;
}

.menu-help,
.settings-leaderboard {
  height: 100%;
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: flex-start;
}

.menu-help button,
.settings-leaderboard button {
  padding: 5px;
}

.logo img {
  width: 112px;
  height: 32px;
}

/* Game Area */
main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.game-wrapper {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game-grid-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game-grid {
  width: 350px;
  height: 420px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.game-grid .row {
  display: flex;
  justify-content: space-between;

  max-height: 62px;
  height: 100%;
}

.animate-row {
  animation: shake;
  animation-duration: 150ms;
  animation-iteration-count: 4;
}

.cell {
  max-width: 62px;
  width: 100%;
  height: 100%;
  border: 2px solid #3a3a3c;

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-transition {
  transition: all 750ms ease-in-out;
}

.correct {
  background-color: #538d4e;
  border: none;
  transform: rotateX(180deg) scale(1, -1);
}

.wrong-place {
  background-color: #b59f3b;
  border: none;
  transform: rotateX(180deg) scale(1, -1);
}

.incorrect {
  background-color: #3a3a3c;
  border: none;
  transform: rotateX(180deg) scale(1, -1);
}

.game-keyboard {
  height: 190px;
  margin: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-keyboard .row {
  display: flex;
  justify-content: space-between;
}

.game-keyboard .mid {
  padding: 0 22px;
}

.key {
  height: 58px;
  width: 42px;
  font-weight: bold;
  background-color: #818384;
  text-transform: uppercase;
  border-radius: 4px;
}

.big {
  width: 65px;
}

.alert {
  font-weight: bold;
  border-radius: 5px;
  color: black;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: calc(100% / 8);
  left: calc(100% / 2 - 75px);
  transition: all 250ms linear;
}

@keyframes shake {
  25% {
    transform: translate(5px, 0);
  }

  75% {
    transform: translate(-5px, 0);
  }
}
